@import '../../styles/variables.scss';

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    color: $c-white;
    background: none;
    border: none;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity $transitions;

    @include max(mobile) {
        font-size: 16px;
    }

    &:hover {
        opacity: 1;
    }

    &__icon svg {
        width: 25px;
        height: 25px;

        @include max(mobile) {
            width: 20px;
            height: 20px;
        }
    }
}