@import '../../styles/variables.scss';

.search {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all $transitions;
    z-index: -1;

    &.active {
        height: 100%;
        opacity: 1;
        z-index: 10;
    }

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    &__modal {
        position: relative;
        width: calc(100% - 32px);
        max-width: 600px;
        background: $c-white;
        border-radius: 16px;
        padding: 16px;
    }

    &__line {
        font-size: 20px;
        transition: all 0.3s linear;
        width: 100%;
        outline: none;
        border: none;
        background-color: transparent;
        color: #232C33;
        border: solid 1px rgba(0, 0, 0, 0.2);
        padding: 12px;
        border-radius: 8px;
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        color: $c-white;
        opacity: 1;
        outline: none;
        border: none;
        cursor: pointer;
        transition: color $transitions;

        &:hover {
            color: $c-accent-hover;
        }

        svg {
            width: 48px;
            height: 48px;
        }
    }

    &__prompts {
        position: relative;
        margin-top: 16px;
        height: 190px;
        column-gap: 32px;
        column-count: 2;
        padding-left: 8px;
    }

    &__prompt {
        font-size: 18px;
        color: $c-text;
        padding: 8px 0;
        transition: color $transitions;
        cursor: pointer;

        &:hover {
            color: $c-accent;
        }
    }

    &__empty {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $c-text;
        font-size: 24px;
        text-align: center;
        width: 90%;
    }
}